
body {
    text-align: center;
    background-color: rgb(120, 121, 189);
    color: black;
    width: 100%;
}

h2{
    color: aliceblue;
    font-size: 56pt;
}
h3{
    font-size: 20pt;
}
footer{
    background-color: rgb(186, 187, 221);
}
